/*<editor-fold desc="Reset">*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role='list'], ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img, picture, svg, video, canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

body, html {
  height: 100%;
  scroll-behavior: smooth;
}
/*</editor-fold>*/

:root {
  --color-dark: rgb(0, 0, 0);
  --color-light: rgb(255, 255, 255);
  --color-green: rgb(64, 195, 130);
  --color-beige: rgb(242, 242, 300);
  --color-beige-mod: color-mix(in srgb, var(--color-beige) 70%, transparent 30%);
  --font-family: 'Alegreya Sans', 'Helvetica Neue', Arial, sans-serif;
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  background-color: var(--color-beige);
}

header {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  text-align: center;
  padding: 2rem 0 2.5rem;
  background: var(--color-light);

  .logo {
    display: block;
  }

  nav  {
    ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    a {
      display: block;
      text-transform: uppercase;
      text-decoration: none;
      color: var(--color-dark);
      transition: color 0.2s ease;
      font-weight: 700;
      font-size: 1rem;

      &:hover {
        color: var(--color-green)
      }
    }
  }
}

footer {
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 2rem 0 3.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;

    .logo {
      max-width: 10.5rem;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .social-networks {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        opacity: 1;
        transition: opacity 0.2s ease;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      li {
        list-style: none;
        font-size: 0.9rem;

        a {
          color: inherit;
          transition: color 0.2s ease;
          text-decoration: none;

          &:hover {
            color: var(--color-green);
          }
        }
      }
    }
  }
}

a {
  text-decoration: underline;
  text-decoration-style: dotted;
  font-style: normal;
  color: var(--color-dark);
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
  color: var(--color-light);

  padding: 10.6rem 1rem 11.3rem;

  h1 {
    font-size: 3rem;
    z-index: 1;
  }

  .subtitle {
    font-size: 2rem;
    line-height: 1.18;
    margin: 0;
    z-index: 1;
  }

  figure {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    figcaption {
      position: absolute;
      bottom: 1rem;
      line-height: 1.4;
      right: 1rem;
      padding: 0.5rem;
      color: var(--color-dark);
      background-color: var(--color-beige-mod);
      font-size: 0.8rem;
      z-index: 50;
    }
  }
}

h2 {
  font-size: 2rem;
  margin: 4rem 0 3.2rem;
}

p {
  margin: 1rem 0;
  font-size: 1.1rem;
  line-height: 1.49;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
}

.text-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  input {
    border: 0;
    padding: 0.5rem;
  }
}

div:has(> input[type="checkbox"]) {
  display: flex;
  gap: 0.25rem;
  margin: 0.5rem 0 0;
}

button, .button {
  align-self: start;
  background: transparent;
  margin: 0;
  border: 1px solid var(--color-dark);
  transition: border 0.2s ease;
  text-decoration: none;
  cursor: pointer;
  user-select: none;

  &:hover {
    border-color: var(--color-green);
  }
}

button {
  padding: 0.35rem 0.7rem;
  font-size: 1.13rem;
}

.button {
  padding: 0.5rem 0.7rem;
  font-size: 1.05rem;
}

.stories {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3.1rem;

  > article {
    background: var(--color-light);
    padding: 2rem 1rem 2.5rem;

    h3 {
      font-size: 1.45rem;

      a {
        text-decoration: none;
      }
    }

    p {
      line-height: 1.5;
      margin-bottom: 1.6rem;
    }
  }
}

main {
  margin-bottom: 7rem;
}

.container {
  padding: 1rem;
}
