/*<editor-fold desc="Reset">*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role='list'], ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img, picture, svg, video, canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

body, html {
  height: 100%;
  scroll-behavior: smooth;
}
/*</editor-fold>*/

:root {
  --color-dark: rgb(0, 0, 0);
  --color-light: rgb(255, 255, 255);
  --color-green: rgb(64, 195, 130);
  --color-beige: rgb(242, 242, 230);
  --color-beige-mod: color-mix(in srgb, var(--color-beige) 70%, transparent 30%);
  --font-family: 'Alegreya Sans', 'Helvetica Neue', Arial, sans-serif;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1024px;
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  background-color: var(--color-beige);
}

header {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  text-align: center;
  padding: 2rem 4rem 2.5rem;
  background: var(--color-light);

  @media(min-width: 1024px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: block;
  }

  nav  {
    ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      list-style: none;

      @media(min-width: 1024px) {
        flex-direction: row;
        gap: 2.5rem;
      }

      li {
        display: flex;
        position: relative;
        justify-content: center;

        @media(min-width: 1024px) {
          &:not(:first-child)::before {
            content: "|";
            font-weight: 700;
            position: absolute;
            left: -1.3rem;
          }
        }
      }
    }

    a {
      display: block;
      text-transform: uppercase;
      text-decoration: none;
      color: var(--color-dark);
      transition: color 0.2s ease;
      font-weight: 700;
      font-size: 1rem;

      &:hover {
        color: var(--color-green)
      }
    }
  }
}

footer {
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 2rem 0 3.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;

    .logo {
      max-width: 10.5rem;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .social-networks {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        opacity: 1;
        transition: opacity 0.2s ease;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      li {
        list-style: none;
        font-size: 0.9rem;

        a {
          color: inherit;
          transition: color 0.2s ease;
          text-decoration: none;

          &:hover {
            color: var(--color-green);
          }
        }
      }
    }
  }
}

a {
  text-decoration: underline;
  text-decoration-style: dotted;
  font-style: normal;
  color: var(--color-dark);
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
  color: var(--color-light);
  margin-bottom: 0rem;

  padding: 10.6rem 1rem 11.3rem;
  @media(min-width: 768px) {
    padding-top: 9rem;
    padding-bottom: 9.8rem;
  }
  @media(min-width: 1024px) {
    padding-top: 10rem;
    padding-bottom: 11rem;
  }

  h1 {
    font-size: 3rem;
    z-index: 1;

    @media(min-width: 768px) {
      font-size: 4rem;
    }

    @media(min-width: 1024px) {
      font-size: 5rem;
    }
  }

  .subtitle {
    font-size: 2rem;
    line-height: 1.18;
    margin: 0;
    z-index: 1;

    @media(min-width: 768px) {
      font-size: 3rem;
      line-height: 1.1;
    }
  }

  figure {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}


form {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  margin-bottom: 2rem;
}

.text-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  input {
    border: 0;
    padding: 0.5rem;
    background: var(--color-light);

    &:focus {
      outline: 1px solid black;
    }
  }
}

div:has(> input[type="checkbox"]) {
  display: flex;
  gap: 0.25rem;
  margin: 0.5rem 0 0;
}

button, .button {
  display: block;
  align-self: start;
  background: transparent;
  margin: 0;
  border: 1px solid var(--color-dark);
  transition: border 0.2s ease;
  text-decoration: none;
  cursor: pointer;
  user-select: none;

  &:hover {
    border-color: var(--color-green);
  }
}

button {
  padding: 0.35rem 0.7rem;
  font-size: 1.13rem;
}

.button {
  padding: 0.5rem 0.7rem;
  font-size: 1.05rem;
}

.stories {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2.5rem;

  @media(min-width: 768px) {
    grid-gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  > article {
    background: var(--color-light);
    padding: 2rem 1rem 2.5rem;
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 1.45rem;
      @media(min-width: 1024px) {
        font-size: 1.75rem;
      }

      a {
        text-decoration: none;
      }
    }

    p {
      line-height: 1.5;
      margin-bottom: 1rem;
      font-size: 1.3rem;
    }

    .button {
      margin-top: auto;
    }
  }
}

main {
  margin-bottom: 6.7rem;
}

.container {
  padding: 0 1rem;
  max-width: 1140px;
  margin: 0 auto;
}

.what-is-naturae {
  display: grid;
  grid-template-columns: 1fr;

  @media(min-width: 1024px) {
    grid-template-columns: 1.5fr 1fr;
    grid-column-gap: 6rem;

    & > *:nth-child(1) {
      grid-column: span 2;
    }
  }
}

.breadcrumb {
  font-size: 0.9rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  ol {
    list-style: none;
    display: flex;
    gap: 1.1rem;

    li {
      position: relative;

      &:not(:first-child)::before {
        content: ">";
        position: absolute;
        left: -0.8rem;
      }

      a {
        text-decoration: none;
        color: var(--color-dark);
        transition: color 0.2s ease;

        &:hover {
          color: var(--color-green);
        }
      }
    }
  }
}

h1 {
  font-size: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  line-height: 1.3;

  @media(min-width: 1024px) {
    font-size: 4.2rem;
  }
}

h2 {
  font-size: 2rem;
  margin-right: 0;
  margin-left: 0;
  margin-top: 1rem;
  margin-bottom: 1.1rem;

  @media(min-width: 1024px) {
    font-size: 2.5rem;
  }
}

p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 1rem 0;

  @media(min-width: 1024px) {
    font-size: 1.3rem;
  }
}


.cover {
  position: relative;

  img {
    height: 33.3rem;
    width: 100%;
    object-fit: cover;
  }
}

.post .author {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

figure:has(img) {
  position: relative;

  figcaption {
    position: absolute;
    bottom: 1rem;
    line-height: 1.4;
    right: 1rem;
    padding: 0.5rem;
    color: var(--color-dark);
    background-color: var(--color-beige-mod);
    font-size: 0.8rem;
    z-index: 50;
  }
}

figure:has(iframe) {
  margin: 0 auto;
  max-width: 775px;

  figcaption {
    font-size: 0.75rem;
    margin-top: 0.5rem;

    @media(min-width: 1024px) {
      margin-top: 1rem;
    }
  }

  iframe {
    width: 100%;
    max-width: 769px;
    height: auto;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
  }
}

.post ol {
  list-style: decimal;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.09rem;

  @media(min-width: 1024px) {
    font-size: 1.3rem;
  }
}

.introduction {
  font-size: 1.4rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  line-height: 1.5;

  @media(min-width: 1024px) {
    font-size: 2rem;
  }
}

hr {
  display: block;
  margin-top: 5rem;
}

.blog-entries {
  > article {
    background: var(--color-light);
    display: flex;
    flex-direction: column;
    flex: 1;

    .content {
      padding: 0 1rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      gap: 2rem;
    }

    h2 {
      font-size: 1.75rem;
      margin-bottom: 0;

      a {
        text-decoration: none;
      }
    }

    p {
      margin-top: 0.5rem;
    }

    .button {
      margin-top: 1rem;
    }
  }
}

.other-entries {
  padding: 0 1rem;
  @media(min-width: 1024px) {
    padding: 0 4rem;
  }

  h1 {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;

    @media(min-width: 1024px) {
      font-size: 1.75rem;
    }
  }

  .blog-entries {
    display: grid;
    gap: 2rem;

    @media(min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 4rem;
    }

    @media(min-width: 1024px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-row-gap: 4rem;
    }

    > article {
      h2 {
        font-size: 1.2rem;
      }
      .button {
        @media(min-width: 1024px) {
          margin-top: 2rem;
        }
      }
    }
  }
}

.blog {
  display: grid;
  gap: 3.14rem;
  padding: 0 1rem;

  @media(min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media(min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 3.14rem;
    padding: 0 4rem;
  }

  h1 {
    margin-top: 2rem;
    margin-bottom: 0;
    text-align: center;
    @media(min-width: 768px) {
      grid-column: span 2;
    }
    @media(min-width: 1024px) {
      grid-column: span 3;
    }
  }
}

.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 0;

  @media(min-width: 768px) {
    grid-column: span 2;
  }

  @media(min-width: 1024px) {
    grid-column: span 3;
  }

  ul {
    display: flex;
    gap: 1.1rem;
    list-style: none;

    a {
      display: flex;
      border: 1px solid var(--color-dark);
      text-decoration: none;
      padding: 0 0.5rem;
      align-items: center;
      justify-content: center;
      background-color: var(--color-light);

      &[aria-current="page"] {
        background: var(--color-green);
        color: var(--color-light);
      }
    }
  }
}